<!-- $aa je computedProperty - vidi metodu getComputedProperties() u poslužiteljskoj skripti. -->
<!-- $b je property izvučen iz userData.question objekta. -->
<!-- echo naredbe vide sve propertyje iz userData.question te iz objekta koji vrati getComputedProperties(). -->
<div id="${{{qid}}}_T">
 Koliko iznosi suma brojeva <span id="${{{qid}}}_T_a">a</span> (još jednom: @#echo#(*html* $aa)) i <span id="${{{qid}}}_T_b">b</span> (još jednom: @#echo#(*html* $b))?
</div>
<p>Evo i jedne slike za demonstraciju.<br><img src="@#file#(pretvorba1.svg)"></p>
<div>
 Rezultat: <input type="text" size="10" id="${{{qid}}}_Q"><br>
 <input type="button" value="stisni me" onclick="document.getElementById('${{{qid}}}_poruka').innerHTML = qGlobalObject('${{{qid}}}','pero');">
 <input type="button" value="stisni me 2" onclick="document.getElementById('${{{qid}}}_poruka2').innerHTML = qGlobalObject('${{{qid}}}','ivo');">
 <span id="${{{qid}}}_poruka">prazno</span>
 <span id="${{{qid}}}_poruka2">prazno</span>
</div>

